* {
    margin: 0 auto;
    padding: 0px;
    font-family: Helvetica, sans-serif;
    max-width: 1200px; 
    box-sizing: border-box;
    }
 header {background-color: coral;
          padding: 10px;
          text-align: center;
         }
 .main-text{
     font-family: cursive;
     font-size: 50px;
     font-stretch: expanded;
 }
 .responsibility{
     text-transform: uppercase;
     font-weight: bold;
     text-decoration-line: underline;
 }
 .summary{background-color: bisque;
         padding: 10px;
         text-align: center;
         } 
 .work{
     background-color: aquamarine;
     padding: 10px;
 }        
 .container{
     display: flex;
 }
 .education{
     background-color: blanchedalmond;
     flex: 2;
     padding: 10px;
 } 
 .skill{
     background-color: beige;
     flex: 1;
     padding: 10px;
 }  
 ul{
    list-style: none; 
 }
 footer{
     background-color: black; 
     text-align: center; 
     text-transform: lowercase;
     font-size: 10px;
 }   
 .sub-text{ 
     text-align: center;
 }
 h3{ text-align: center;}